.THIS table.tablefixed{
	table-layout: fixed;
	width: 98%;
}

.THIS td.right{
	padding-right: 	2vw;
	width: 25%;
    vertical-align: top;
	text-align: right;
}

.THIS td.left{
	padding-right: 2vw;
	width: 55%; 
	text-align: left;
}

.THIS img.resize2 {
	max-width: 500%;
	object-fit: contain;
	width: 100%;
	height: 40rem;
}