.THIS {
	padding:0; 
    margin:0;
    background-color: #F5FBEF;
    color: black;
}

.THIS .slds-text-heading--medium{
	padding: 0vw;
    margin:0;
    font-size: 100%;
    font-weight: bold;
}

.THIS td.left5{
    margin:0;
	padding-right: 	1vw;
	background-color: #F5FBEF;
	width: 45%; 
	text-align: right;
    background-color: #F5FBEF;
}


.THIS td.right5{
	width: 55%; 
	text-align: left;
	overflow: hidden;
    font-weight: bolder;
    background-color: #F5FBEF;
}

.THIS td.center5{
	text-align: center;
	background-color: #F5FBEF;
    padding-bottom: 1vw;
}

.THIS .buttonformat svg{
    width: 4vw;
    height: 4vw;
    border: 0vw;
    text-align: center;
}

.THIS .uiInput--select.select{
	height: 100%;
    line-height: 100%;
}

.THIS .uiInput--checkbox {
  	padding-left: 2vw;
  	width: 2vw;
  	height: 2vw;
}