.THIS{
    
}
.THIS hr{
            border-color: black;
        	border-width: 1px;
            border-style: solid;
    		height: 2px;
}
.THIS h1{
    font-weight: 900;
    color: black;
}

.THIS .red {
    color: red;
}

.THIS .redsmall {
    color: red;
    font-size: 12px;
}

.s.THIS {
   background-color: yellow;
}



.selectwide.THIS {
   width: 200px;
}