.THIS {
	padding:0; 
    margin:0;
    font-size: 150%;
    background-color: white;
    color: black;
}

/*Mobile Screen*/
@media (max-aspect-ratio: 15/16) {
	.THIS {
    	font-size: 150%;
	}
}


/*Class style user input*/
.THIS .slds-form--horizontal{
	padding:0; 
    margin:0;
    font-size: 100%;
    background-color: white;
}

/*Class style header*/
.THIS .slds-text-heading--medium{
	padding-bottom: 4vh; 
    margin:0;
    font-size: 200%;
    font-weight: bold;
}

.THIS .slds-theme--default{
	background-color: white;
}

.THIS .form-element__help{
	font-size: 80%;
	margin: 0vw;
}

.THIS td.left{
	padding-bottom: 2vw;
	padding-right: 	2vw;
	width: 45%; 
	text-align: right;
}

.THIS td.leftRequire{
	padding-bottom: 2vw;
	padding-right: 	2vw;
	width: 45%; 
	text-align: right;
	color:red;
}

.THIS td.right2{
	padding-bottom: 2vw;
	width: 55%; 
	text-align: center;
}

.THIS td.right{
	padding-bottom: 2vw;
	width: 55%; 
	text-align: left;
	padding-right: 	2vw;
}

.THIS .slds-button{
	font-size: 100%;
	line-height: 100%;
}

.THIS .uiInput--select.select{
	height: 100%;
    line-height: 100%;
}.THIS {
}